<div >
    <div class="d-flex justify-content-center bd-highlight mb-2">
        <div id="blocklyDiv" class="m-2" style="height: 500px; width: 75%;"></div>
    </div>
    
    <div class="d-flex justify-content-center bd-highlight mb-2">
        <button class="btn btn-primary m-2" (click)="runCode()">Run Code</button>
        <button class="btn btn-success m-2" (click)="saveWorkspace()">Save Workspace</button>
    </div>
    <div>
        <input [(ngModel)]="inputTitle" placeholder="Enter title">
    </div>
    <div>
        <div *ngFor="let workspace of loadWorkspaces" >
            {{workspace.title}}
            <button class="btn btn-info m-2" (click)="loadWorkspace(workspace.content)">Load Last Workspace</button>

        </div>
    </div>
</div>